<h1><%= @survey.title() %></h1>

<form action="/surveys/:id" method="post">
  <div class="form-group">
  <input id="survey_id" name="survey_id" type="hidden" value="<%= @survey.id() %>">

  <label class="form-label" for="description">Survey Question</label>
  <input name="description" type="text" id="description" class="form-control">
  <button type="submit" class="btn btn-info">Add Question</button>
</div>
</form>
