<h1>New Survey:</h1>
<form action="/survey/new" method="post">
  <div class="form-group">
  <label class="form-label" for="title">Survey Title</label>
  <input name="title" type="text" placeholder="Title" id="name" class="form-control">
<br>
  <button type="submit" class="btn btn-info">Add Team</button>
</div>
</form>
