<h1><%= @topic.name %></h1>
<h2>Available surveys</h2>
<% @topic.surveys.each() do |survey| %>
<ul>
  <li><a href="/taker/topic/<%= @topic.id %>/survey/<%= survey.id %>"><%= survey.title() %></li>
</ul>
<% end %>
