<h1>Bienvenid@s</h1>

<h2>Choose a Topic</h2>

<form action="/topics/new" method="post">
  <div class="form-group">
  <label class="form-label" for="name">Topic</label>
  <input name="name" type="text" id="name" class="form-control">
  <br>
  <button type="submit" class="btn btn-info">Add Topic</button>
</div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
  </thead>
  <tbody>
    <% @topics.each() do |topic| %>
    <tr>
      <td>
        <a href="/topics/<%= topic.id() %>"><%= topic.name() %></a>
      </td>
      <td>
        <form id="update_topic" action="/topics/<%= topic.id %>" method="post">
          <input type="hidden" name="_method" value="patch">
            <label for="update_name">Update name</label>
            <input type="text" name="update_name" id="update_name">
            <button type="submit" class="btn btn-info">Update</button>
          </form>
      </td>
      <td><form action = "/topics/<%= topic.id %>" method="post">
          <div class="form-group">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn-danger">Delete</button>
          </div>
        </form></td>
      <% end %>
    </tr>
  </tbody>
</table>

<a href="/">HOME</a>
